@body-bg: #F2F2F2;
@text-color: #566A76;

@navbar-default-bg: #44545E;
@navbar-default-link-color: white;
@nav-link-bg: @nav-link-hover-bg - 40%;
@nav-link-hover-bg: white;
@navbar-default-link-hover-color: @navbar-default-link-color - 60%;
@navbar-default-link-active-color: @navbar-default-bg;
@navbar-default-link-active-bg: @nav-link-hover-bg;
@side-navbar-bg: #4C748E;

@brand-primary: @navbar-default-bg;
@state-success-text: #5F9B1E;
@state-info-text: #4C748E;
@state-warning-text: #F5A623;
@state-danger-text: #C63926;

@item-block-bg: #ffffff;
@item-block-border: #E2E2E2;

// buttons
@btn-default-color: #4C748E;
@btn-default-bg:    #ffffff;
@btn-default-border #4C748E;

@btn-primary-color: #ffffff;
@btn-primary-bg:    #4C748E;
@btn-primary-border:#4C748E;
