@import '~bootstrap/less/bootstrap.less';
@import 'colors.less';
@import '~open-sans-fontface/open-sans.less';
@import '~chartist/dist/chartist.css';

@font-family-sans-serif: 'Open Sans', sans-serif;

html {
  font-size: 14px;
}

body {
  overflow-y: scroll;
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local('Teko Light'), local('Teko-Light'),
       url('../media/teko-v5-latin-300.woff2') format('woff2'),
       url('../media/teko-v5-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'),
       url('../media/teko-v5-latin-regular.woff2') format('woff2'),
       url('../media/teko-v5-latin-regular.woff') format('woff');
}

.btn {
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.container, .container-fluid {
  width: 100%;
  h1, h2, h3, h4 {
    font-family: 'Teko';
    text-transform: uppercase;
    font-weight: 300;
    text-rendering: optimizeLegibility;
  }
  h1 {
    font-size: 30px;
  }
}

.navbar {
  font-family: 'Teko';
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .2px;
  font-size: 20px;
  height: 70px;
  margin: 0;
  border-radius: 0;
  .navbar-nav {
    li {
      margin: 18px 2px 0 0;
      a {
        padding: 6px 12px;
        background: none;
        &:hover {
          border-radius: 4px;
          color: @navbar-default-bg;
          background-color: @nav-link-bg;
        }
      }
      &.active {
        a {
          border-radius: 4px;
          color: @navbar-default-bg;
          background-color: @nav-link-hover-bg;
          &:hover {
            color: @navbar-default-bg;
            background-color: @nav-link-bg;
          }
        }
      }
    }
  }
  .navbar-header {
    .navbar-brand {
      width: 82px;
      height: 50px;
      padding: 0;
      margin: 6px 40px 0 0;
      background-image: url('../media/fuel-devops-logo.svg');
    }
  }
  .navbar-right {
    li {
      a {
        margin: 0;
        padding: 0;
        &:hover {
          background: none;
        }
      }
    }
  }
}

.dashboard-page-links {
  .make-row(10px);
  .dashboard-page-link-container {
    .make-xs-column(12, 10px);
    .make-sm-column(6, 10px);
    .make-md-column(4, 10px);
    .make-lg-column(3, 10px);
  }
}

.dashboard-page-link {
  width: 100%;
  min-height: 150px;
  background-color: @item-block-bg;
  border: 1px solid @item-block-border;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 16px 20px;
  box-sizing: border-box;
  h3 {
    margin-top: 0;
    font-size: 24px;
  }
  .btn {
    margin-top: 10px;
  }
}

.service-status {
  padding: 10px;
  margin-bottom: 10px;
  background-color: @item-block-bg;
  border: 1px solid @item-block-border;
  border-radius: 6px;
  .service-status-container {
    .make-row(10px);
    .service-status-link {
      .make-xs-column(12, 10px);
      .make-md-column(6, 10px);
      .make-lg-column(3, 10px);
    }
  }
  .service-name {
    font-family: 'open sans';
    font-size: 20px;
    margin: 15px 0 0;
  }
  .service-fci-score {
    font-family: 'Teko';
    font-size: 50px;
  }
  .chart-title {
    font-family: 'Teko';
    font-size: 18px;
  }
  .ct-chart {
    .ct-line {
      stroke: @brand-primary;
      stroke-width: 3px;
    }
    .ct-point {
      stroke: @brand-primary;
      stroke-width: 6px;
    }
  }
}

.region-list {
  .make-row(10px);
  .region-container {
    margin-bottom: 10px;
    overflow: hidden;
    .region {
      padding: 10px;
      background-color: @item-block-bg;
      border: 1px solid @item-block-border;
      border-radius: 6px;
      h3 {
        text-align: center;
        display: block;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        font-family: 'open sans';
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 600;
      }
      .sla, .availability, .health, .performance {
        width: 100%;
        height: 28px;
        border-top: 1px solid @item-block-border - 30%;
        color: @item-block-border - 60%;
        .name {
          width: 30%;
          display: block;
          font-size: 9px;
          text-transform: uppercase;
          float: left;
          margin-top: 8px;
        }
        .param {
          display: block;
          float: right;
          font-family: 'teko';
          font-size: 20px;
          line-height: 26px;
        }
        .graph {
          display: block;
          border: 1px solid #dadada;
          width: 52%;
          float: left;
          margin-top: 2px;
          font-size: 8px;
          padding: 4px 20px;
        }
      }
      .performance {
        border-bottom: 1px solid @item-block-border - 30%;
      }
    }
    &.region-small {
      .make-xs-column(0.5, 1px);
      margin-bottom: 1px;
      h3 {
        display: none;
      }
      .availability, .health, .performance {
        display: none;
      }
      .sla {
        border: none;
        .name {
          display: none;
        }
        .graph {
          display: none;
        }
        .param {
          width: 100%;
          text-align: center;
          line-height: 28px;
          font-size: 1.1vw;
        }
      }
    }
    &.region-medium {
      .make-xs-column(1.5, 10px);
      .sla, .availability, .health, .performance {
        .name {
          width: 60%;
        }
        .graph {
          display: none;
        }
      }
    }
    &.region-large {
      .make-xs-column(3, 10px);
    }
  }
}

.side-navbar {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 70px;
  height: 100%;
  display: block;
  background-color: @side-navbar-bg;
  z-index: 999;
  overflow: hidden;
  transition: all 0.25s ease-out;
  &:hover {
    width: 200px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      overflow: hidden;
      height: 42px;
      a {
        display: block;
        width: 100%;
        color: @nav-link-hover-bg;
        .icon-box {
          display: inline-block;
          margin: 7px 10px 0px 21px;
        }
        span {
          display: inline-block;
          font-family: 'Teko';
          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          margin-top: 10px;
          vertical-align: top;
          text-transform: uppercase;
        }
      }
      &.active {
        background-color: @body-bg;
        a {
          color: @text-color;
        }
        .icon-box {
          background-color: @nav-link-bg;
        }
      }
    }
  }
  + .container-fluid {
    padding-left: 85px;
  }
}

// Icons

.icon-box {
  width: 28px;
  height: 28px;
  margin: 2px 10px 0 0;
  background-color: @nav-link-hover-bg;
  border-radius: 14px;
  &:hover {
    background-color: @nav-link-hover-bg - 50%;
  }
}

.background-image-svg-fill(@url, @color: '') {
  @escaped-color: escape(@color);
  background-image: ~"url('@{url}?fill=@{escaped-color}')";
}

.user-icon {
  .background-image-svg-fill('../media/user-icon.svg', @color: @side-navbar-bg);
}

.notification-icon {
  .background-image-svg-fill('../media/notification-icon.svg');
}

.logout-icon {
  .background-image-svg-fill('../media/logout-icon.svg');
}

.overview-icon {
  .background-image-svg-fill('../media/overview-icon.svg', @side-navbar-bg);
}

.availability-icon {
  .background-image-svg-fill('../media/availability-icon.svg', @side-navbar-bg);
}

.health-icon {
  .background-image-svg-fill('../media/health-icon.svg', @side-navbar-bg);
}

.btn-toolbar {
  border-top: 1px solid @item-block-border;
  border-bottom: 1px solid @item-block-border;
  padding: 4px 0;
  margin: 0px 5px;
  .cloud-overview-summary {
    font-family: 'Teko';
    text-transform: uppercase;
    font-size: 20px;
  }
  .btn-group {
    button {
      font-size: 11px;
      font-weight: 600;
      color: @text-color;
    }
    .active {
      color: @text-color;
    }
  }
}